In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [41]:
df = pd.read_csv("../data/Pakistan Largest Ecommerce Dataset.csv")

C:\Users\HP 850G2\AppData\Local\Temp\ipykernel_1176\4270612918.py:1: DtypeWarning: Columns (0: increment_id) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Pakistan Largest Ecommerce Dataset.csv")

In [42]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0

In [43]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 584524 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  int64
 1   status                 584509 non-null  str
 2   created_at             584524 non-null  str
 3   sku                    584504 non-null  str
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  int64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  str
 9   sales_commission_code  447346 non-null  str
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  str
 12  Working Date           584524 non-null  str
 13  BI Status              584524 non-null  str
 14  MV                     584524 non-null  str
 15  Year                   584524 non-null  int64
 16  Month                  584524 non-null  int64
 17  Customer Since         584513 non-null  str
 18  M-Y                    584524 non-null  str
 19  FY                     584524 non-null  str
 20  Customer ID            584513 non-null  float64
dtypes: float64(4), int64(4), object(1), str(12)
memory usage: 93.7+ MB

In [44]:
df.isnull().sum()

item_id                       0
status                       15
created_at                    0
sku                          20
price                         0
qty_ordered                   0
grand_total                   0
increment_id                  0
category_name_1             164
sales_commission_code    137178
discount_amount               0
payment_method                0
Working Date                  0
BI Status                     0
MV                            0
Year                          0
Month                         0
Customer Since               11
M-Y                           0
FY                            0
Customer ID                  11
dtype: int64

In [45]:
df.shape

(584524, 21)

In [46]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0

In [47]:
df.sku

0                                         kreations_YI 06-L
1         kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...
2                                        Ego_UP0017-999-MR0
3                                            kcc_krone deal
4                                               BK7010400AG
                                ...
584519                                  WOFSCE5AE00357AECDE
584520                                  MATHUA5AF70A7D1E50A
584521                                  MATSAM5B6D7208C6D30
584522                                  MATSAM5B1509B4696EA
584523                                  MATSAM5B10F91A9B6AB
Name: sku, Length: 584524, dtype: str

In [48]:
df["MV"]

0           1,950
1             240
2           2,450
3             360
4           1,110
           ...
584519        699
584520     35,599
584521    259,998
584522    174,600
584523    217,280
Name: MV, Length: 584524, dtype: str

In [49]:
df["item_id"].duplicated().sum()

np.int64(0)

In [50]:
df.dropna(subset=['Customer ID', 'sku', 'status', 'category_name_1', 'sales_commission_code', 'Customer Since'], inplace=True)

In [51]:
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584429,905105,canceled,8/28/2018,BAGPRO5B0FA123819C4,490.0,1,2722.0,100562312,Beauty & Grooming,100559728,...,Payaxis,8/28/2018,Gross,490,2018,8,2018-8,Aug-18,FY19,114788.0
584430,905106,canceled,8/28/2018,BAGFT5A3272925D642,224.0,1,2722.0,100562312,Beauty & Grooming,100559728,...,Payaxis,8/28/2018,Gross,224,2018,8,2018-8,Aug-18,FY19,114788.0
584431,905107,canceled,8/28/2018,FAI5A95000195701,299.0,2,2722.0,100562312,Superstore,100559728,...,Payaxis,8/28/2018,Gross,598,2018,8,2018-8,Aug-18,FY19,114788.0
584480,905160,cod,8/28/2018,MATHUA5AE4D132A2D5A,21599.0,1,21899.0,100562351,Mobiles & Tablets,C-PEW-112010,...,cod,8/28/2018,Valid,"21,599",2018,8,2018-5,Aug-18,FY19,106822.0
584491,905171,processing,8/28/2018,MATAPP59AD3CFE4A7CA,44459.0,1,44759.0,100562360,Mobiles & Tablets,111066,...,cod,8/28/2018,Gross,"44,459",2018,8,2017-11,Aug-18,FY19,67562.0

In [52]:
df.shape

(447326, 21)

In [53]:
df.isnull().sum()

item_id                  0
status                   0
created_at               0
sku                      0
price                    0
qty_ordered              0
grand_total              0
increment_id             0
category_name_1          0
sales_commission_code    0
discount_amount          0
payment_method           0
Working Date             0
BI Status                0
MV                       0
Year                     0
Month                    0
Customer Since           0
M-Y                      0
FY                       0
Customer ID              0
dtype: int64

In [54]:
# remove grand_total, discout amount -ve values

df = df[df['discount_amount'] >= 0]

In [56]:
df = df[df['grand_total'] >= 0]

In [57]:
df.shape

(447276, 21)