In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv("../data/Pakistan Largest Ecommerce Dataset.csv")

C:\Users\HP 850G2\AppData\Local\Temp\ipykernel_14420\4270612918.py:1: DtypeWarning: Columns (0: increment_id) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/Pakistan Largest Ecommerce Dataset.csv")

In [3]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0

In [4]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 584524 entries, 0 to 584523
Data columns (total 21 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  int64
 1   status                 584509 non-null  str
 2   created_at             584524 non-null  str
 3   sku                    584504 non-null  str
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  int64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  str
 9   sales_commission_code  447346 non-null  str
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  str
 12  Working Date           584524 non-null  str
 13  BI Status              584524 non-null  str
 14  MV                     584524 non-null  str
 15  Year                   584524 non-null  int64
 16  Month                  584524 non-null  int64
 17  Customer Since         584513 non-null  str
 18  M-Y                    584524 non-null  str
 19  FY                     584524 non-null  str
 20  Customer ID            584513 non-null  float64
dtypes: float64(4), int64(4), object(1), str(12)
memory usage: 93.7+ MB

In [5]:
df.isnull().sum()

item_id                       0
status                       15
created_at                    0
sku                          20
price                         0
qty_ordered                   0
grand_total                   0
increment_id                  0
category_name_1             164
sales_commission_code    137178
discount_amount               0
payment_method                0
Working Date                  0
BI Status                     0
MV                            0
Year                          0
Month                         0
Customer Since               11
M-Y                           0
FY                            0
Customer ID                  11
dtype: int64

In [6]:
df = df.drop(columns=['sales_commission_code'])

In [7]:
df.shape

(584524, 20)

In [8]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0

In [9]:
df.sku

0                                         kreations_YI 06-L
1         kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...
2                                        Ego_UP0017-999-MR0
3                                            kcc_krone deal
4                                               BK7010400AG
                                ...
584519                                  WOFSCE5AE00357AECDE
584520                                  MATHUA5AF70A7D1E50A
584521                                  MATSAM5B6D7208C6D30
584522                                  MATSAM5B1509B4696EA
584523                                  MATSAM5B10F91A9B6AB
Name: sku, Length: 584524, dtype: str

In [10]:
df["MV"]

0           1,950
1             240
2           2,450
3             360
4           1,110
           ...
584519        699
584520     35,599
584521    259,998
584522    174,600
584523    217,280
Name: MV, Length: 584524, dtype: str

In [11]:
df["item_id"].duplicated().sum()

np.int64(0)

In [12]:
df.dropna(subset=['Customer ID', 'sku', 'status', 'category_name_1', 'Customer Since'], inplace=True)

In [13]:
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,cod,8/28/2018,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,cod,8/28/2018,Valid,699,2018,8,2018-8,Aug-18,FY19,115320.0
584520,905205,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,Aug-18,FY19,115326.0
584521,905206,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,Aug-18,FY19,113474.0
584522,905207,processing,8/28/2018,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,Aug-18,FY19,113474.0
584523,905208,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,Aug-18,FY19,113474.0

In [14]:
df.shape

(584314, 20)

In [15]:
df.isnull().sum()

item_id            0
status             0
created_at         0
sku                0
price              0
qty_ordered        0
grand_total        0
increment_id       0
category_name_1    0
discount_amount    0
payment_method     0
Working Date       0
BI Status          0
MV                 0
Year               0
Month              0
Customer Since     0
M-Y                0
FY                 0
Customer ID        0
dtype: int64

In [16]:
# remove grand_total, discout amount -ve values

df = df[df['discount_amount'] >= 0]

In [17]:
df = df[df['grand_total'] >= 0]

In [18]:
df.shape

(584235, 20)

In [19]:
df.status.value_counts()

status
complete          233657
canceled          201107
received           77274
order_refunded     59494
refund              8002
cod                 2854
paid                1159
closed               494
payment_review        57
pending               48
processing            33
holded                31
fraud                 10
pending_paypal         7
exchange               4
\N                     4
Name: count, dtype: int64

In [20]:
df.category_name_1.value_counts()

category_name_1
Mobiles & Tablets     115700
Men's Fashion          92214
Women's Fashion        59716
Appliances             52404
Superstore             43596
Beauty & Grooming      41488
Soghaat                34002
Others                 29208
Home & Living          26502
Entertainment          26317
Health & Sports        17498
Kids & Baby            16488
Computing              15930
\N                      7832
School & Education      3470
Books                   1870
Name: count, dtype: int64

In [21]:
df.payment_method.value_counts()

payment_method
cod                  271770
Payaxis               97616
Easypay               82854
jazzwallet            35145
easypay_voucher       31175
bankalfalah           23041
jazzvoucher           15633
Easypay_MA            14026
customercredit         7554
apg                    1758
ublcreditcard           882
cashatdoorstep          732
mcblite                 723
mygateway               669
internetbanking         472
productcredit           125
marketingexpense         45
financesettlement        15
Name: count, dtype: int64

In [22]:
df['BI Status'].value_counts()

BI Status
Net      234150
Gross    201297
Valid    148787
#REF!         1
Name: count, dtype: int64

In [23]:
df.grand_total.value_counts()

grand_total
0.0        9616
1000.0     5145
2000.0     3780
2500.0     3235
5000.0     2912
           ...
7816.0        1
2311.0        1
27280.0       1
28599.0       1
23510.0       1
Name: count, Length: 36800, dtype: int64

In [24]:
df.isnull().sum()

item_id            0
status             0
created_at         0
sku                0
price              0
qty_ordered        0
grand_total        0
increment_id       0
category_name_1    0
discount_amount    0
payment_method     0
Working Date       0
BI Status          0
MV                 0
Year               0
Month              0
Customer Since     0
M-Y                0
FY                 0
Customer ID        0
dtype: int64

In [25]:
col_list = df.columns
col_list

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1', 'discount_amount',
       'payment_method', 'Working Date', 'BI Status', 'MV', 'Year', 'Month',
       'Customer Since', 'M-Y', 'FY', 'Customer ID'],
      dtype='str')

In [26]:
for i in col_list:
    print(f"{i}:",len(df[df[f"{i}"] == '\\N']))

item_id: 0
status: 4
created_at: 0
sku: 0
price: 0
qty_ordered: 0
grand_total: 0
increment_id: 0
category_name_1: 7832
discount_amount: 0
payment_method: 0
Working Date: 0
BI Status: 0
MV: 0
Year: 0
Month: 0
Customer Since: 0
M-Y: 0
FY: 0
Customer ID: 0

In [27]:
df = df[df['status'] != '\\N']

In [28]:
df.shape

(584231, 20)

In [29]:
df['category_name_1'] = df['category_name_1'].replace('\\N', 'Unknown')

In [30]:
for i in col_list:
    print(f"{i}:",len(df[df[f"{i}"] == '\\N']))

item_id: 0
status: 0
created_at: 0
sku: 0
price: 0
qty_ordered: 0
grand_total: 0
increment_id: 0
category_name_1: 0
discount_amount: 0
payment_method: 0
Working Date: 0
BI Status: 0
MV: 0
Year: 0
Month: 0
Customer Since: 0
M-Y: 0
FY: 0
Customer ID: 0

In [31]:
df.shape

(584231, 20)

In [32]:
df['status'] = df['status'].replace(['complete', 'received', 'paid', 'cod', 'closed'], 'completed')

In [33]:
df['status'] = df['status'].replace(['refund', 'order_refunded'], 'refunded')

In [34]:
df['status'] = df['status'].replace(['pending','processing','payment_review','pending_paypal', 'holded'], 'pending')

In [35]:
df.status.value_counts()

status
completed    315438
canceled     201107
refunded      67496
pending         176
fraud            10
exchange          4
Name: count, dtype: int64

In [36]:
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,completed,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,completed,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,completed,8/28/2018,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,cod,8/28/2018,Valid,699,2018,8,2018-8,Aug-18,FY19,115320.0
584520,905205,pending,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,Aug-18,FY19,115326.0
584521,905206,pending,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,Aug-18,FY19,113474.0
584522,905207,pending,8/28/2018,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,Aug-18,FY19,113474.0
584523,905208,pending,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,Aug-18,FY19,113474.0

In [37]:
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1', 'discount_amount',
       'payment_method', 'Working Date', 'BI Status', 'MV', 'Year', 'Month',
       'Customer Since', 'M-Y', 'FY', 'Customer ID'],
      dtype='str')

In [103]:
df.to_csv('../data/pakistan_larget_ecommerce_clean_dataset.csv', index=False)

In [38]:
df['grand_total'].sum()

np.float64(4985899510.0965)

In [39]:
df['category_name_1'].value_counts()

category_name_1
Mobiles & Tablets     115700
Men's Fashion          92214
Women's Fashion        59716
Appliances             52404
Superstore             43596
Beauty & Grooming      41488
Soghaat                34002
Others                 29208
Home & Living          26502
Entertainment          26317
Health & Sports        17498
Kids & Baby            16488
Computing              15930
Unknown                 7828
School & Education      3470
Books                   1870
Name: count, dtype: int64

In [40]:
df[df['category_name_1'] == 'Unknown']

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
24,211157,refunded,7/1/2016,D Lend a Helping Hand,1000.0,1,0.0,100147461,Unknown,0.0,customercredit,7/1/2016,Valid,"1,000",2016,7,2016-7,Jul-16,FY17,16.0
72,211214,canceled,7/1/2016,sentiments_WRK1612,1.0,1,1.0,100147496,Unknown,0.0,cod,7/1/2016,Gross,1,2016,7,2016-7,Jul-16,FY17,33.0
79,211222,canceled,7/1/2016,sentiments_WRK1612,1.0,5,5.0,100147502,Unknown,0.0,cod,7/1/2016,Gross,5,2016,7,2016-7,Jul-16,FY17,33.0
80,211223,canceled,7/1/2016,sentiments_WRK1612,1.0,2,2.0,100147503,Unknown,0.0,cod,7/1/2016,Gross,2,2016,7,2016-7,Jul-16,FY17,33.0
81,211225,canceled,7/1/2016,sentiments_WRK1612,1.0,1,1.0,100147505,Unknown,0.0,cod,7/1/2016,Gross,1,2016,7,2016-7,Jul-16,FY17,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423207,722206,refunded,12/27/2017,OTHOTH5A0945D0A72F4,90.0,2,330.0,100440581,Unknown,0.0,cod,12/27/2017,Valid,180,2017,12,2017-11,Dec-17,FY18,66884.0
423231,722242,completed,12/27/2017,MEFQMO59B0942707B79-L,99.0,1,249.0,100440593,Unknown,0.0,cod,12/27/2017,Valid,99,2017,12,2017-11,Dec-17,FY18,66884.0
423826,722915,refunded,12/29/2017,OTHOTH5A0945D0A72F4,90.0,2,330.0,100440967,Unknown,0.0,cod,12/29/2017,Valid,180,2017,12,2017-8,Dec-17,FY18,59587.0
423829,722918,refunded,12/29/2017,MEFQMO59B0942707B79-S,99.0,2,348.0,100440970,Unknown,0.0,cod,12/29/2017,Valid,198,2017,12,2017-11,Dec-17,FY18,66884.0
423830,722920,completed,12/29/2017,MEFQMO59B0942707B79-L,99.0,2,348.0,100440971,Unknown,0.0,cod,12/29/2017,Valid,198,2017,12,2017-8,Dec-17,FY18,59587.0

In [41]:
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131,completed,7/1/2016,kreations_YI 06-L,1950.0,1,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016,7,2016-7,Jul-16,FY17,1.0
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016,7,2016-7,Jul-16,FY17,2.0
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016,7,2016-7,Jul-16,FY17,3.0
3,211135,completed,7/1/2016,kcc_krone deal,360.0,1,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016,7,2016-7,Jul-16,FY17,4.0
4,211136,refunded,7/1/2016,BK7010400AG,555.0,2,1110.0,100147447,Soghaat,0.0,cod,7/1/2016,Valid,"1,110",2016,7,2016-7,Jul-16,FY17,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204,completed,8/28/2018,WOFSCE5AE00357AECDE,699.0,1,849.0,100562385,Women's Fashion,0.0,cod,8/28/2018,Valid,699,2018,8,2018-8,Aug-18,FY19,115320.0
584520,905205,pending,8/28/2018,MATHUA5AF70A7D1E50A,35599.0,1,35899.0,100562386,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"35,599",2018,8,2018-8,Aug-18,FY19,115326.0
584521,905206,pending,8/28/2018,MATSAM5B6D7208C6D30,129999.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"259,998",2018,8,2018-7,Aug-18,FY19,113474.0
584522,905207,pending,8/28/2018,MATSAM5B1509B4696EA,87300.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"174,600",2018,8,2018-7,Aug-18,FY19,113474.0
584523,905208,pending,8/28/2018,MATSAM5B10F91A9B6AB,108640.0,2,652178.0,100562387,Mobiles & Tablets,0.0,bankalfalah,8/28/2018,Gross,"217,280",2018,8,2018-7,Aug-18,FY19,113474.0

In [42]:
df['payment_method'].value_counts()

payment_method
cod                  271766
Payaxis               97616
Easypay               82854
jazzwallet            35145
easypay_voucher       31175
bankalfalah           23041
jazzvoucher           15633
Easypay_MA            14026
customercredit         7554
apg                    1758
ublcreditcard           882
cashatdoorstep          732
mcblite                 723
mygateway               669
internetbanking         472
productcredit           125
marketingexpense         45
financesettlement        15
Name: count, dtype: int64

In [45]:
df['BI Status'].value_counts()

BI Status
Net      234150
Gross    201293
Valid    148787
#REF!         1
Name: count, dtype: int64